@model IEnumerable<FinalProject.Models.Trails>

@{
    ViewData["Title"] = "BucketList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>BucketList</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                Miles
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                Date
            </th>




            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Length) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>


            <td>

                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

            </td>
        </tr>
        }
    </tbody>

</table>
<a asp-action="Search">Back to List</a>
