<<<<<<< HEAD
﻿@model IEnumerable<FinalProject.Models.ApplicationUser>
=======
@model IEnumerable<FinalProject.Models.ApplicationUser>
>>>>>>> f177c442c3c587e7e804596a52575c145ac734b7
<h2>Search Trails by Name</h2>

<form asp-action="Search">
    <p>Search for Recomendations:</p>
    @*<input name="Id" type="text" />*@

    @*<p>Difficulty:</p>
        <input name="Difficulty" type="text"/>*@
    <input type="submit" />

<<<<<<< HEAD
    @*<p>@ViewBag.UserLevel</p>
    <p>@ViewBag.times</p>
    <p>@ViewBag.Build</p>

    <p>@ViewBag.Name</p>
    <p>@ViewBag.difficulty</p>

    
    <p>@ViewBag.Build</p>*@

=======
    <p>@ViewBag.difficulty</p>
    <p>@ViewBag.times</p>

    <p>@ViewBag.Name</p>
>>>>>>> f177c442c3c587e7e804596a52575c145ac734b7
</form>
<p>
    <a asp-action="listo">Listo</a>
</p>

