@model FinalProject.Models.Trails


<html>
<head>
    <style>

<<<<<<< HEAD
            * {
        box-sizing: border-box;
    }
        body {
        background: url("~/wwwroot/Images/Empire2.JPG") no-repeat fixed center;        }
=======
        * {
            box-sizing: border-box;
        }

        body {
            background: url("~/wwwroot/Images/Empire2.JPG") no-repeat fixed center;
        }
>>>>>>> 755846fe4f7549e3de8de5228d4fe2e5a13e00d2
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 20%;
        }
        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

<<<<<<< HEAD
             .leftcolumn {   
    float: left;
    width: 75%;
  }

              .rightcolumn {
         position:  relative;
         top:10px;
         right: 10px;    
         float: right;
         padding-bottom: 50px;
          padding-left: 90px;
          padding-right:10%;
      
           border-radius: 4px;

  }

        .card {
            float:left;
=======
        .leftcolumn {
            float: left;
            width: 75%;
        }

        .rightcolumn {
            position: absolute;
            top: 10px;
            right: 10px;
            float: right;
            padding-bottom: 50px;
            padding-left: 90px;
            padding-right: 10%;
            padding-top: 130px;
            border-radius: 4px;
        }

        .card {
            float: left;
>>>>>>> 755846fe4f7549e3de8de5228d4fe2e5a13e00d2
            background-color: white;
            padding: 10px;
            margin-top: 10px;
            position: center;
<<<<<<< HEAD
            padding-left:10px;
            font-family:'Comic Sans MS';
            font-size:large;
        }

    #temps {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width:80%;
}

#temps td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#temps tr:nth-child(even){background-color: #f2f2f2;}

#temps tr:hover {background-color: #ddd;}

#temps th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

.lolita{
    /*background-color:aquamarine;*/
}
.details {

    width:500px;
}


=======
            padding-left: 10px;
            font-family: 'Comic Sans MS';
            font-size: large;
        }

        #temps {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

            #temps td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #temps tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #temps tr:hover {
                background-color: #ddd;
            }

            #temps th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: center;
                background-color: #4CAF50;
                color: white;
            }

        .lolita {
            /*background-color:aquamarine;*/
        }

        .details {
            width: 500px;
        }

        .rightcolumn .img {
        }
>>>>>>> 755846fe4f7549e3de8de5228d4fe2e5a13e00d2
    </style>
</head>
<body>
    <div class="lolita">
        <button class="btn btn-success" id="myBtn">Add To Bucket</button>

        <button class="btn btn-warning" asp-action="Search">Back to List</button>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Trigger/Open The Modal -->`
        <!-- The Modal -->

        <form method="post" asp-action="AddToBucketList">
            <div id="myModal" class="modal">
                <div class="col-sm-4">    </div>
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="form-group">
                        <input type="date" placeholder="enter Date" class="form-control" id="text" name="date" />
                    </div>

                    @Html.Hidden("name", @Model.Name)
                    @Html.Hidden("location", @Model.Location)
                    @Html.Hidden("summary", @Model.Summary)
                    @Html.Hidden("image", @Model.ImgSmallMed)
                    @Html.Hidden("length", @Model.Length)

                    <button class="btn btn-success"> Add To Bucket List</button>
                </div>
            </div>
        </form>

        <h4>
        </h4>
        <hr />
<<<<<<< HEAD

        <div class="leftcolumn">
            <table class="details">
                <tr style="background-color:lightyellow">
                    <th style="font-size:x-large">   @Html.DisplayNameFor(model => model.Name):   </th>
                    <td style="font-style:italic">        @Html.DisplayFor(model => model.Name)</td>
                </tr>
                <p>  </p>
                <tr>
                    <th style="font-size:x-large">   @Html.DisplayNameFor(model => model.Summary):    </th>
                    <td style="font-style:italic">        @Html.DisplayFor(model => model.Summary)</td>
                </tr>
                <p></p>
                <tr style="background-color:lightyellow">
                    <th style="font-size:x-large">   @Html.DisplayNameFor(model => model.Location):   </th>
                    <td style="font-style:italic">        @Html.DisplayFor(model => model.Location)</td>
                </tr>
                <p> </p>
                <tr>
                    <th style="font-size:x-large">   @Html.DisplayNameFor(model => model.Length):   </th>
                    <td style="font-style:italic">          @Html.DisplayFor(model => model.Length) Miles</td>
                </tr>
                <p>    </p>
                <tr style="background-color:lightyellow">
                    <th style="font-size:x-large">   @Html.DisplayNameFor(model => model.Level):   </th>
                    <td style="font-style:italic">          @Html.DisplayFor(model => model.Level) </td>
                </tr>
                <tr>
                    <th style="font-size:x-large">   Condition Status:   </th>
                    <td style="font-style:italic">   @Html.DisplayFor(model => model.ConditionStatus) </td>
                </tr>
                <tr style="background-color:lightyellow">
                    <th style="font-size:x-large">   Condition Details:   </th>
                    <td style="font-style:italic">    @Html.DisplayFor(model => model.ConditionDetails) </td>
                </tr>
            </table>
        </div>

        <div class="rightcolumn">
            <div class="col-sm-4">
                <img src="@Model.ImgSmallMed" alt="Italian Trulli" width="auto" height="400" />
            </div>
        </div>
        <div class="card">
            <p>
                <img src="~/Images/water.jpg" width="60" height="70" /> You should Bring @ViewBag.Water liters of water per person.
            </p>
        </div>
=======

        <div class="leftcolumn">
            <table class="details">
                <tr style="background-color:lightyellow">
                    <th style="font-size:x-large">   @Html.DisplayNameFor(model => model.Name):   </th>
                    <td style="font-style:italic">        @Html.DisplayFor(model => model.Name)</td>
                </tr>
                <p>  </p>
                <tr>
                    <th style="font-size:x-large">   @Html.DisplayNameFor(model => model.Summary):    </th>
                    <td style="font-style:italic">        @Html.DisplayFor(model => model.Summary)</td>
                </tr>
                <p></p>
                <tr style="background-color:lightyellow">
                    <th style="font-size:x-large">   @Html.DisplayNameFor(model => model.Location):   </th>
                    <td style="font-style:italic">        @Html.DisplayFor(model => model.Location)</td>
                </tr>
                <p> </p>
                <tr>
                    <th style="font-size:x-large">   @Html.DisplayNameFor(model => model.Length):   </th>
                    <td style="font-style:italic">          @Html.DisplayFor(model => model.Length) Miles</td>
                </tr>
                <p>    </p>
                <tr style="background-color:lightyellow">
                    <th style="font-size:x-large">   @Html.DisplayNameFor(model => model.Level):   </th>
                    <td style="font-style:italic">          @Html.DisplayFor(model => model.Level) </td>
                </tr>
                <tr>
                    <th style="font-size:x-large">   Condition Status:   </th>
                    <td style="font-style:italic">   @Html.DisplayFor(model => model.ConditionStatus) </td>
                </tr>
                <tr style="background-color:lightyellow">
                    <th style="font-size:x-large">   Condition Details:   </th>
                    <td style="font-style:italic">    @Html.DisplayFor(model => model.ConditionDetails) </td>
                </tr>
            </table>
        </div>

        <div class="rightcolumn">
            <div class="col-sm-4">
                <img src="@Model.ImgSmallMed" alt="Italian Trulli" width="auto" height="400" />
            </div>
        </div>
        <div class="card">
            <p>
                <img src="~/Images/water.jpg" width="60" height="70" /> You should Bring @ViewBag.Water liters of water per person.
            </p>
        </div>
        <p>
            <br />

        </p>
>>>>>>> 755846fe4f7549e3de8de5228d4fe2e5a13e00d2
        <p>
            <br />

        </p>
<<<<<<< HEAD
        <p>
            <br />

        </p>
        <table id="temps">
            <tr>
                <th> @ViewBag.Forcast[0].DayOfWeek</th>
                <th> @ViewBag.Forcast[1].DayOfWeek</th>
                <th> @ViewBag.Forcast[2].DayOfWeek</th>
                <th> @ViewBag.Forcast[3].DayOfWeek</th>
                <th> @ViewBag.Forcast[4].DayOfWeek</th>

            </tr>
            <tr>
                <td>  @ViewBag.Forcast[0].Temp&#8457;e</td>
                <td>  @ViewBag.Forcast[1].Temp&#8457;</td>
                <td>  @ViewBag.Forcast[2].Temp&#8457;</td>
                <td>  @ViewBag.Forcast[3].Temp&#8457;</td>
                <td>  @ViewBag.Forcast[4].Temp&#8457;</td>
            </tr>
            <tr>
                <td>   @ViewBag.Forcast[0].Description</td>
                <td>   @ViewBag.Forcast[1].Description</td>
                <td>   @ViewBag.Forcast[2].Description</td>
                <td>   @ViewBag.Forcast[3].Description</td>
                <td>   @ViewBag.Forcast[4].Description</td>
            </tr>

        </table>



    </div>
                    <script>
                        // Get the modal
                        var modal = document.getElementById("myModal");
                        // Get the button that opens the modal
                        var btn = document.getElementById("myBtn");
                        // Get the <span> element that closes the modal
                        var span = document.getElementsByClassName("close")[0];
                        var btnCancel = document.getElementsByClassName("close")[0];

                        // When the user clicks the button, open the modal
                        btn.onclick = function () {
                            modal.style.display = "block";
                        }
                        // When the user clicks on <span> (x), close the modal
                        span.onclick = function () {
                            modal.style.display = "none";
                        }
                        span.onclick = function () {
                            modal.style.display = "none";
                        }
                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function (event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                        }
                    </script>
=======
        <table id="temps">
            <tr>
                <th> @ViewBag.Forcast[0].DayOfWeek</th>
                <th> @ViewBag.Forcast[1].DayOfWeek</th>
                <th> @ViewBag.Forcast[2].DayOfWeek</th>
                <th> @ViewBag.Forcast[3].DayOfWeek</th>
                <th> @ViewBag.Forcast[4].DayOfWeek</th>

            </tr>
            <tr>
                <td>  @ViewBag.Forcast[0].Temp&#8457;e</td>
                <td>  @ViewBag.Forcast[1].Temp&#8457;</td>
                <td>  @ViewBag.Forcast[2].Temp&#8457;</td>
                <td>  @ViewBag.Forcast[3].Temp&#8457;</td>
                <td>  @ViewBag.Forcast[4].Temp&#8457;</td>
            </tr>
            <tr>
                <td>   @ViewBag.Forcast[0].Description</td>
                <td>   @ViewBag.Forcast[1].Description</td>
                <td>   @ViewBag.Forcast[2].Description</td>
                <td>   @ViewBag.Forcast[3].Description</td>
                <td>   @ViewBag.Forcast[4].Description</td>
            </tr>

        </table>



    </div>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        var btnCancel = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }
        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
        span.onclick = function () {
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
>>>>>>> 755846fe4f7549e3de8de5228d4fe2e5a13e00d2
</body>
</html>
