@model FinalProject.Models.Trails


<html>
<head>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }
        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>
<body>

    <div>
        <h4>Trails</h4>
        <hr />
        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Summary)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Summary)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Location)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Length)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Length) Miles
            </dd>
            <dt class="col-sm-2">
                <h3> Water </h3>
            </dt>
            <dd class="col-sm-2">
                <p>You should Bring @ViewBag.Water liters of water per person.</p>
            </dd>

            <dd class="col-sm-4">
                <img src="@Model.ImgSmallMed" alt="Italian Trulli" width="auto" height="200" />
            </dd>


        </dl>
    </div>
    <div class="alert alert-info" role="alert">
        <dl class="row">
            <dt class="col-sm-2">
                @ViewBag.Forcast[0].DayOfWeek
            </dt>
            <dt class="col-sm-2">
                @ViewBag.Forcast[1].DayOfWeek
            </dt>
            <dt class="col-sm-2">
                @ViewBag.Forcast[2].DayOfWeek
            </dt>
            <dt class="col-sm-2">
                @ViewBag.Forcast[3].DayOfWeek
            </dt>
            <dt class="col-sm-2">
                @ViewBag.Forcast[4].DayOfWeek
            </dt>
            <dt class="col-sm-2">

            </dt>
        </dl>
        <dl class="row">
            <dd class="col-sm-2">
                @ViewBag.Forcast[0].Temp&#8457;
            </dd>
            <dd class="col-sm-2">
                @ViewBag.Forcast[1].Temp&#8457;
            </dd>
            <dd class="col-sm-2">
                @ViewBag.Forcast[2].Temp&#8457;
            </dd>
            <dd class="col-sm-2">
                @ViewBag.Forcast[3].Temp&#8457;
            </dd>
            <dd class="col-sm-2">
                @ViewBag.Forcast[4].Temp&#8457;
            </dd>
            <dd class="col-sm-2">
            </dd>
        </dl>
        <dl class="row">
            <dd class="col-sm-2">
                @ViewBag.Forcast[0].Description
            </dd>
            <dd class="col-sm-2">
                @ViewBag.Forcast[1].Description
            </dd>
            <dd class="col-sm-2">
                @ViewBag.Forcast[2].Description
            </dd>
            <dd class="col-sm-2">
                @ViewBag.Forcast[3].Description
            </dd>
            <dd class="col-sm-2">
                @ViewBag.Forcast[4].Description
            </dd>
            <dd class="col-sm-2">
            </dd>
        </dl>
        </div>
        <div>
            <button id="myBtn">Add To Bucket</button>

            <button asp-action="Search">Back to List</button>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- Trigger/Open The Modal -->`
            <!-- The Modal -->

            <form method="post" asp-action="AddToBucketList">
                <div id="myModal" class="modal">
                    <div class="col-sm-4">    </div>
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div class="form-group">
                            <input type="date" placeholder="enter Date" class="form-control" id="text" name="date" />
                        </div>

                        @Html.Hidden("name", @Model.Name)
                        @Html.Hidden("location", @Model.Location)
                        @Html.Hidden("summary", @Model.Summary)
                        @Html.Hidden("image", @Model.ImgSmallMed)
                        @Html.Hidden("length", @Model.Length)

                        <button>

                            Add To Bucket List
                            @*@Html.ActionLink("Add to Bucket List", "AddToBucketList",
                                          new
                                    {
                                        name = @Model.Name,
                                        location = @Model.Location,
                                        summary = @Model.Summary,
                                        image = @Model.ImgSmallMed,
                                        length = @Model.Length
                                }*@
                            )
                        </button>
                        <button class="btn btn-default" data-dismiss="modal" id="btnCancel"> Cancel</button>
                    </div>
                </div>
            </form>


            <script>
                // Get the modal
                var modal = document.getElementById("myModal");
                // Get the button that opens the modal
                var btn = document.getElementById("myBtn");
                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];
                // When the user clicks the button, open the modal
                btn.onclick = function () {
                    modal.style.display = "block";
                }
                // When the user clicks on <span> (x), close the modal
                span.onclick = function () {
                    modal.style.display = "none";
                }
                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            </script>
</body>
</html>
